services:
    frontend:
        build: ./web
        ports:
            - '5173:5173'
        volumes:
            - ./web:/app
            - /app/node_modules
        environment:
            - VITE_API_URL=http://localhost:5000/api
        depends_on:
            - backend

    backend:
        build: ./backend
        ports:
            - '5000:5000'
        volumes:
            - ./backend/uploads:/app/uploads
        environment:
            - MONGODB_URI=mongodb://db:27017/song-ideas
        depends_on:
            - db

    db:
        image: mongo:latest
        ports:
            - '27017:27017'
        volumes:
            - mongo-data:/data/db

volumes:
    mongo-data:
