name: Node.js CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code 
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'
        cache: 'npm'
    
    - name: Install dependencies
      run: npm install
      working-directory: ./backend
    
    - name: Run tests
      run: npm run build --if-present
      working-directory: ./backend